<header class="header">
  <div class="logo">
    <a routerLink="/">Task Management App</a>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <!-- Show Tasks link only when user is logged in -->
      <li class="nav-item" *ngIf="isAuthenticated">
        <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>

      <!-- Show Admin link only for admin users -->
      <li class="nav-item" *ngIf="isAuthenticated && isAdmin">
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>

      <!-- Authentication links -->
      <ng-container *ngIf="!isAuthenticated">
        <!-- Show these links only when user is NOT logged in -->
        <li class="nav-item auth-link">
          <a routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item auth-link">
          <a routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>
      </ng-container>

      <ng-container *ngIf="isAuthenticated">
        <!-- Show these links only when user is logged in -->
        <li class="nav-item auth-link">
          <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item auth-link user-greeting">
          <span>Welcome, {{ username }}</span>
        </li>
        <li class="nav-item auth-link">
          <a href="#" (click)="logout($event)">Logout</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
